.mySwiper{
  width: 100vw;
}

.imgContainer{
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heading{
  text-align: center;
  font-size: 28px;
  text-transform: capitalize;
  text-decoration-line: underline;
}
.cardContainer{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  gap:20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}

.card{
  display: block;
  width: 300px;
  background: #fff;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
}
.card:hover{
  transform: scale(1.05);
  animation-delay: inherit;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.cardImag{
  display: flex;
  width: 100%;
  height: 200px;
  object-fit: fill;
  border-radius: 8px;
}

.cardHeading{
  font-size: 16px;
  color: black;
  margin: 10px 0 10px 0;
}

.cardDescription{
  font-size: 14px;
  color:#1a1a1a;
  font-weight: 500;
  font-style: oblique;
  text-align: justify;
}

.cardButton{
  width: 100%;
  background: black;
  color: white;
  outline: none;
  padding: 6px 4px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
